<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/user.css">
  </head>
  <body>
    <h2 style="text-align:center">{{successMessage}}</h2>

<div class="card">
  <img src="{{image}}" alt="John" style="width:100%">
  <h1>{{userUsername}}</h1>
  <!-- <p class="title">{{userUsername}}</p> -->
  <p>{{userEmail}}</p>
  <p><button>Contact</button></p>
</div>

</body>
  </body>
</html>
